@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light */
:root {
  --bg: 240 20% 98%;
  --card: 0 0% 100%;
  --text: 222 47% 11%;
  --muted: 220 9% 46%;
  --border: 220 13% 91%;
  --ring: 217 91% 80%;
}

/* Dark */
.dark {
  --bg: 222 47% 7%;
  --card: 222 47% 10%;
  --text: 210 40% 96%;
  --muted: 215 16% 65%;
  --border: 216 34% 17%;
  --ring: 217 91% 65%;
}

html, body { height: 100%; }
body { @apply bg-bg text-text antialiased; }
* { -webkit-tap-highlight-color: transparent; }
